<script>
  import Loader from "../Components/Loader.svelte";
  import Grid from "../Components/Grid.svelte";
  const url =
    "https://api.themoviedb.org/3/movie/popular?api_key=75497c04f3a23d7ef60da17e46c52f76&language=en-US&page=1";

  let promesa = ajax();
  let movies = [];
  async function ajax() {
    const res = await fetch(url);
    movies = await res.json();

    if (res.ok) {
      //console.log(movies);
      return movies.results;
    } else {
      throw new Error("No hay conexión con la api");
    }
  }
</script>

<h1 class="title">Películas más populares del momento</h1>

{#await promesa}
  <div align="center">
    <Loader />
  </div>
{:then movies}
  <Grid {movies} />
{:catch error}
  <p class="is-danger">{error}</p>
{/await}
