<script>
  import { onMount } from "svelte";
  export let params = {};
  let id = params.id;
  const url = "https://api.themoviedb.org/3/movie/";
  const apiKey = "?api_key=75497c04f3a23d7ef60da17e46c52f76&language=en-US";
  const urlFinal = url + id + apiKey;

  let movie = {};
  let genres = [];
  onMount(async () => {
    const res = await fetch(urlFinal);
    movie = await res.json();
    console.log(movie);
    genres = await movie.genres;
    console.log(genres);
  });
</script>

<style>
  .rating {
    width: 300px;
    border: solid 4px black;
    font-size: 4rem;
    font-weight: bold;
  }
</style>

<div class="colums is-centered">
  <div class="column">
    <img
      src="https://image.tmdb.org/t/p/w500{movie.poster_path}"
      alt={movie.title}
      width="100%"
      height="700" />
  </div>
  <div class="column">
    <h1 class="title is-2">{movie.title}</h1>
    <p>{movie.overview}</p>

    {#each genres as genre}
      <p>{genre.name}</p>
    {/each}
    <div class="rating" align="center">{movie.vote_average}</div>

  </div>
</div>
