<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  export let title;
  export let image;

  function view() {
    dispatch("view-more");
  }
</script>

<div class="card">
  <div class="card-image">
    <figure class="image">
      <img
        src="https://image.tmdb.org/t/p/w500{image}"
        alt={title}
        width="100%"
        height="500" />
    </figure>
  </div>
  <div class="content">
    <h6 class="title is-6">{title}</h6>
    <button class="button is-info" on:click={view}>Ver más...</button>
  </div>
</div>
