<script>
  import Card from "./Card.svelte";
  import { push } from "svelte-spa-router";
  export let movies;
</script>

<div class="container">
  <div class="columns is-multiline is-centered">
    {#each movies as movie}
      <div class="column is-3">
        <Card
          title={movie.title}
          image={movie.poster_path}
          on:view-more={() => push('/Movie/' + movie.id)} />
      </div>
    {/each}
  </div>
</div>
