<script>
  import { link } from "svelte-spa-router";
</script>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" use:link>
      <h4 class="title is-4">Api Películas</h4>
    </a>
  </div>
</nav>
