<script>
  import Router from "svelte-spa-router";
  import Menu from "./Components/Menu.svelte";
  import routes from "./routes.js";
</script>

<Menu />

<div class="container">
  <Router {routes} />
</div>
